/screenshots
/saves
/resourcepacks
/mods
/logs
/gradle
/eclipse
/crash-reports
/config
/build
/options.txt
/MinecraftForge-License.txt
/MinecraftForge-Credits.txt
/LICENSE-fml.txt
/hs_err_pid8908.log
/forge-1.7.10-10.13.0.1180-changelog.txt
/CREDITS-fml.txt
/asm
